/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  font-family: 'Noto Sans';
  font-weight: 400;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
}
p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
.block {
  background: #ffcc00;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block-bg {
  background-color: #483526;
  padding: 30px 0;
}
.block-bg-copyright {
  background-color: #2d2620;
  padding: 30px 0;
}
.line {
  border-top: 1px solid #E9EFF3;
}
/*@media (min-width: 1200px) {
		margin-bottom: 0px;
	}*/
.navigation {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 5px 10px #000000;
  top: 51px;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .navigation {
    position: absolute;
    letter-spacing: 2.2px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    font-size: 22px;
  }
}
.navigation .navigation__toggle {
  display: block;
  font-size: 38px;
  position: absolute;
  top: 13px;
  right: 16px;
  z-index: 2;
  cursor: pointer;
}
.navigation .navigation__toggle:hover,
.navigation .navigation__toggle:focus,
.navigation .navigation__toggle:active {
  color: #f28324;
}
@media (min-width: 768px) {
  .navigation .navigation__toggle {
    display: none;
  }
}
.navigation .navigation__toggle--fixed {
  position: fixed;
}
.navigation ul.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(45, 38, 32, 0.95);
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
    position: absolute;
    top: 60;
  }
}
.navigation ul.navigation__list--open {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.navigation ul.navigation__list li {
  margin: 0 0 40px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navigation ul.navigation__list li:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 50px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .navigation ul.navigation__list li {
    margin-right: 100px;
  }
}
.navigation ul.navigation__list a {
  color: #FFF;
  text-decoration: none;
}
.navigation ul.navigation__list a:hover,
.navigation ul.navigation__list a:focus,
.navigation ul.navigation__list a:active {
  color: #f28324;
}
.user-photo {
  height: 110px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  overflow: hidden;
  background-image: url("../img/placeholders/user-avatar-female-placeholder-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.user-photo--shadow {
  -webkit-box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.55);
}
.user-photo--big {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 110px;
  border-radius: 110px;
  background-image: url("../img/placeholders/user-avatar-female-placeholder.jpg");
}
@media (min-width: 1200px) {
  .user-photo--big {
    width: 205px;
    height: 205px;
  }
}
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    bottom: 1rem;
  }
}
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.unu {
  margin-top: 45px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.section {
  padding-top: 35px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 74px;
    padding-bottom: 90px;
  }
}
.section--padding-smaller {
  padding-top: 30px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .section--padding-smaller {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section--padding-smaller {
    padding-top: 65px;
    padding-bottom: 67px;
  }
}
.section--bottom-line {
  border-bottom: 1px solid #f8e6d6;
}
.section--bg-laptop {
  background-repeat: no-repeat;
  background-position: right 70%;
}
@media (min-width: 1500px) {
  .section--bg-laptop {
    background-image: url("../img/bg/laptop.png");
  }
}
.section--bg-gear {
  background-repeat: no-repeat;
  background-position: left 55%;
}
@media (min-width: 1500px) {
  .section--bg-gear {
    background-image: url("../img/bg/2.png");
  }
}
.heading {
  color: #f28324;
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 19px;
}
@media (min-width: 768px) {
  .heading {
    font-size: 42px;
  }
}
.heading--medium {
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0 15px;
  color: #000;
}
.heading-center {
  text-align: center;
}
.defenition-list {
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  list-style-type: none;
}
.defenition-list__item {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}
.defenition-list__def {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #f28324;
  text-transform: uppercase;
}
.defenition-list__desc {
  font-size: 14px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .defenition-list__desc {
    font-size: 16px;
  }
}
.button {
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  display: inline-block;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  padding: 11px 26px 14px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
  background-color: #f28324;
  cursor: pointer;
}
.button .fa {
  font-size: 18px;
  margin-right: 5px;
}
.button:hover,
.buttonfocus {
  background-color: #FFF;
  color: #f28324;
}
.button:active {
  background-color: #f28324;
  color: #2d2620;
}
.filter-block {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 19px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .filter-block {
    padding-top: 8px;
    margin-bottom: 50px;
  }
}
.filter-block__block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.filter-block__element {
  margin: 0 0 9;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  .filter-block__element {
    margin-right: 0;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .filter-block__element {
    margin-right: 15px;
  }
  .filter-block__element:last-child {
    margin-right: 0;
  }
}
.filter-block__button {
  color: #cecece;
  padding: 10px 31px 17px;
  cursor: pointer;
  display: inline-block;
}
.filter-block__button:hover {
  color: #000;
}
.filter-block__button:active,
.filter-block__button:focus {
  padding: 10px 29px 13px;
  border: 2px solid #f28324;
  color: #000;
}
.filter-block__button--active {
  padding: 10px 29px 13px;
  border: 2px solid #f28324;
  color: #000;
}
#portfolio-projects .mix {
  display: none;
}
.portfolio__item {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  margin-bottom: 40px;
}
.portfolio-item__image {
  margin-bottom: 15px;
  position: relative;
  display: block;
  min-height: 190px;
  background-image: url("../img/placeholders/project_placeholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
@media (min-width: 768px) {
  .portfolio-item__image {
    min-height: 150px;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .portfolio-item__image {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image {
    margin-bottom: 16px;
    height: 250px;
  }
}
.portfolio-item__image__hover {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(242, 131, 36, 0.9);
  overflow: hidden;
  -webkit-transition: top 0.5s ease-out;
  -moz-transition: top 0.5s ease-out;
  -ms-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
.portfolio-item__image__hover .fa {
  color: #fff;
  font-size: 64px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .portfolio-item__image__hover .fa {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover .fa {
    font-size: 64px;
    position: static;
    margin-bottom: 15px;
    margin-top: 60px;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.portfolio-item__image__hover span {
  color: #fff;
  display: none;
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover span {
    display: inline-block;
  }
}
.portfolio-item__image:hover .portfolio-item__image__hover {
  display: block;
  top: 0%;
}
.portfolio-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.portfolio-item__title a {
  color: #000;
  text-decoration: none;
}
.portfolio-item__title a:hover,
.portfolio-item__title a:focus,
.portfolio-item__title a:active {
  color: #f28324;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .portfolio-item__title {
    font-size: 24px;
    border-bottom: 1px dotted #000;
  }
  .portfolio-item__title:hover,
  .portfolio-item__title:focus,
  .portfolio-item__title:active {
    border-bottom: 1px dotted #f28324;
  }
}
.portfolio-item__description {
  font-size: 14px;
  line-height: 1.42;
}
@media (min-width: 1200px) {
  .portfolio-item__description {
    font-size: 16px;
    line-height: 1.5;
  }
}
.header {
  height: 390px;
  width: 100%;
  color: #FFF;
  display: table;
  background-color: #2d2620;
  background-image: url("../img/bg/bg3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 800px;
  }
}
.header__inner {
  padding-top: 51px;
  padding-bottom: 60px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.header__centered-content {
  display: inline-block;
  margin-top: -100px;
}
@media (min-width: 768px) {
  .header__centered-content {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .header__centered-content {
    margin-top: -162px;
  }
}
.header__title {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 20px;
  text-shadow: 0px 0px 40px #000000;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 56px;
  }
}
.header__subtitle {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-shadow: 0px 0px 40px #000000;
}
@media (min-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 26px;
  }
}
