html, body {
	height: 100%;
	font-family: 'Noto Sans';
	font-weight: 400;
	min-width: 320px;
}

html {
	font-size: 10px;
	line-height: 1.4;
}

body {
	font-size: 1.6rem; /* 10px * 1.6 = 16px */
}
p {
	font-size: 14px;
	line-height: 22px;
	color: #000;
	
		@media (min-width: 768px) {
				font-size: 16px;
				line-height: 28px;
  		}
	
	
}